# Prática em Python - Limpeza e Tratamento de Dados

### Tratar dados 'tempo.csv'

- Aparência: sol, nublado, chuva
- Temperatura: -130 ~ 130F
- Umidade: 0 ~ 100
- Jogar: sim/não

Tratar valores NAs

In [41]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [42]:
arquivo = 'tempo.csv'

In [56]:
dados = pd.read_csv(arquivo, delimiter=';')
dados.head()

  Aparencia  Temperatura  Umidade       Vento Jogar
0       sol           85     85.0       FALSO   nao
1       sol           80     90.0  VERDADEIRO   nao
2   nublado           83     86.0       FALSO   sim
3     chuva           70      NaN       FALSO   sim
4     chuva           68     80.0       FALSO   sim

In [44]:
grupoSol = dados.groupby(['Aparencia']).size()
grupoSol

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [57]:
dados.loc[dados['Aparencia'] == 'menos', 'Aparencia'] = 'sol'
dados

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6        sol           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [46]:
grupoJogar = dados.groupby('Jogar').size()
grupoJogar

Jogar
nao    5
sim    9
dtype: int64

In [47]:
grupoVento = dados.groupby(['Vento']).size()
grupoVento

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [48]:
dados['Temperatura'].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [49]:
dados['Umidade'].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [50]:
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64